@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";
@import "../node_modules/bee-form-control/src/FormControl.scss";
@import "../node_modules/bee-input-group/src/InputGroup.scss";

.u-input-number {
  &.u-input-group.simple .u-input-group-btn {
    position: relative;
    top: 0;
    z-index: 2;
    right: 0;
    .icon-group {
      position: absolute;
      top: 1px;
      right: 2px;
      border-left: 1px solid #d9d9d9;
      width: 22px;
      height: 28px;
      background: #fff;
      border-radius: 0 4px 4px 0;
      -webkit-transition: opacity .24s linear .1s;
      transition: opacity .24s linear .1s;

      .plus {
        position: relative;
        display: block;
        width: 100%;
        text-align: center;
        line-height: 0;
        height: 50%;
        overflow: hidden;
        color: rgba(0, 0, 0, .43);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        cursor: pointer;
        font-weight: 700;
        &.disabled {
          cursor: not-allowed;
          background: #ffe;
          color: #ccc;
        }
      }
      .reduce {
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        text-align: center;
        border-top: 1px solid #d9d9d9;
        line-height: 0;
        height: 50%;
        overflow: hidden;
        color: rgba(0, 0, 0, .43);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        cursor: pointer;
        font-weight: 700;
        &.disabled {
          cursor: not-allowed;
          background: #ffe;
          color: #ccc;
        }
      }
      .uf {
        font-size: 12px;
        line-height: 12px;
        &:hover {
          color: blue;
        }
      }

    }
  }
  &.u-input-group.simple .u-form-control {
    text-align: left;
    width: 70px;
  }
  &.u-input-group .u-form-control {
    width: 70px;
    text-align: center;
  }
  .u-input-group-addon {
    cursor: pointer;
    width: auto;
    padding: 6px;
    user-select: none;
    -moz-user-select: none;
    &.disabled {
      cursor: not-allowed;
      background: #ffe;
      color: #ccc;
    }
  }
  .u-input-number-auto .u-form-control {
    width: 100%;
  }
}
